<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>891132965331-apou6dtv8lru1bdsap8bf0ost1mmpcta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891132965331-apou6dtv8lru1bdsap8bf0ost1mmpcta</string>
	<key>API_KEY</key>
	<string>AIzaSyDlFHHO15q4eNPKu-ExYVy2ovFON9SBEAc</string>
	<key>GCM_SENDER_ID</key>
	<string>891132965331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cinard.ca.ServerPushNotification</string>
	<key>PROJECT_ID</key>
	<string>milk-n-bread-291ec</string>
	<key>STORAGE_BUCKET</key>
	<string>milk-n-bread-291ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:891132965331:ios:8501ed31a309a4e5</string>
	<key>DATABASE_URL</key>
	<string>https://milk-n-bread-291ec.firebaseio.com</string>
</dict>
</plist>